.editable-container {
    font-family: "Times New Roman";
    font-size: 1.2rem;
    color: var(--primary-color);
    margin: 1rem 0;
    width: min(850px, 100%);
    background-color: var(--container-bg-color);   
    border-radius: var(--default-border-radius);
    box-shadow: 0 0 10px 2px var(--box-shadow-color);
    /* text-align: center; */
    padding: 2em;
    min-height: 1058px;
    /* MUST. Prevent text overflow. Break at every char. The default is breaking word */
    word-break: break-all;
} 


