.editable-container {
    font-family: "Calibri";
    font-size: 1.2rem;
    margin: 1rem 0;
    width: min(850px, 100%);
    background-color: var(--container-bg-color);   
    border-radius: var(--default-border-radius);
    /* text-align: center; */
    padding: 1em 2em;
    min-height: 1058px;
    /* MUST. Prevent text overflow. Break at every char. The default is breaking word */
    word-break: break-all;
}