:root {
  --body-bg-color: hsl(210, 100%, 50%);
  --container-bg-color: hsl(100, 100%, 100%);
  --button-hover-color: hsl(0, 0%, 50%);
  --default-border-radius: 0.15em;
  --default-font-family: "DM Mono", monospace;
  --default-line-height: 1.5;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--body-bg-color);
  line-height: var(--default-line-height);
}
