:root {
  --body-bg-color: hsl(210, 35%, 35%);
  --container-bg-color: hsl(100, 100%, 100%);
  --button-hover-color: hsl(0, 0%, 50%);
  --primary-color: #0099FA;
  --secondary-color: #EFFAFF;
  --info-color: #F1F1E6;
  --default-border-radius: 0.15em;
  --default-font-family: "DM Mono", monospace;
  --default-line-height: 1.5;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--body-bg-color);
  line-height: var(--default-line-height);
  
}
.App {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr
}
.grid {
  /* overflow: hidden; */
  display: grid;
  grid-template-rows: auto 1fr;
  place-items: center;
}
.editor {
  position: relative;
}